.education-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.education-progress {
    font-size: 14px;
    font-weight: normal;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    margin:10px;
    padding: 5px;
    text-align: center;
    border-radius: 10%;
}

.education-list {
    list-style: none;
    padding: 0;
}

@media (min-width:950px) {
    .education-title {
        font-size: 30px;
    }
    
    .education-progress {
        font-size: 16px;
        padding: 10px;
        box-sizing: content-box;
        box-shadow: 0 2px 0 var(--navbar-shadow-color);
        text-align: left;
        border-radius: 0%;
    }
    
    .education-list {
        list-style: none;
        padding: 0;
    }
}